body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.job-title {
    color: #269abc; 
    text-decoration: underline;
}

.job-company {
    color: #000; 
    font-weight: bold;
}

.job-highlight {
    background-color: #ffc;
}

.job-rss {
  background-color: #ff6600 !important;
}

/* Ahmed Theme */
/* profile css */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

/* a {
  text-decoration: none;
  font-size: 22px;
  color: black;
} */

button:hover, a:hover {
  opacity: 0.7;
}
/* ends of profile css */

/* end of Ahmed Them */